.about-us {
    .container {
        .center {
            text-align: center;
        }
        img {
            border: 7px solid $round;
            border-radius: 50%;
            position: relative;
        }
        .right {
            text-align: right;
            padding-right: 40px;
        }
    }
}